# Base de datos 10 canciones más escuchadas por artistas en Youtube Y Spotify hasta 2023

El presente trabajo se basa en una base de datos de las 10 canciones más populares de diferentes artistas, en la cual se han medido diferentes parámetros, tales como la danzabilidad, la energía, el volumen, tiempo de reproducción etc. Además, se han registrado los datos de reproducción de cada una de estas canciones en Spotify y YouTube. 
Nombre del Dataset: Youtube_Spotify3.csv
Fuente: https://www.kaggle.com/datasets/salvatorerastelli/spotify-and-youtube

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
df=pd.read_csv("Spotify_Youtube.csv")

In [5]:
df.head()

,Unnamed: 0,Artist,Url_spotify,Track,Album,Album_type,Uri,Danceability,Energy,Key,...,Url_youtube,Title,Channel,Views,Likes,Comments,Description,Licensed,official_video,Stream
0,0,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Feel Good Inc.,Demon Days,album,spotify:track:0d28khcov6AiegSCpG5TuT,0.818,0.705,6.0,...,https://www.youtube.com/watch?v=HyHNuVaZJ-k,Gorillaz - Feel Good Inc. (Official Video),Gorillaz,693555221.0,6220896.0,169907.0,Official HD Video for Gorillaz' fantastic trac...,True,True,1.040235e+09
1,1,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Rhinestone Eyes,Plastic Beach,album,spotify:track:1foMv2HQwfQ2vntFf9HFeG,0.676,0.703,8.0,...,https://www.youtube.com/watch?v=yYDmaexVHic,Gorillaz - Rhinestone Eyes [Storyboard Film] (...,Gorillaz,72011645.0,1079128.0,31003.0,The official video for Gorillaz - Rhinestone E...,True,True,3.100837e+08
2,2,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,New Gold (feat. Tame Impala and Bootie Brown),New Gold (feat. Tame Impala and Bootie Brown),single,spotify:track:64dLd6rVqDLtkXFYrEUHIU,0.695,0.923,1.0,...,https://www.youtube.com/watch?v=qJa-VFwPpYA,Gorillaz - New Gold ft. Tame Impala & Bootie B...,Gorillaz,8435055.0,282142.0,7399.0,Gorillaz - New Gold ft. Tame Impala & Bootie B...,True,True,6.306347e+07
3,3,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,On Melancholy Hill,Plastic Beach,album,spotify:track:0q6LuUqGLUiCPP1cbdwFs3,0.689,0.739,2.0,...,https://www.youtube.com/watch?v=04mfKJWDSzI,Gorillaz - On Melancholy Hill (Official Video),Gorillaz,211754952.0,1788577.0,55229.0,Follow Gorillaz online:\nhttp://gorillaz.com \...,True,True,4.346636e+08
4,4,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Clint Eastwood,Gorillaz,album,spotify:track:7yMiX7n9SBvadzox8T5jzT,0.663,0.694,10.0,...,https://www.youtube.com/watch?v=1V_xRb0x9aw,Gorillaz - Clint Eastwood (Official Video),Gorillaz,618480958.0,6197318.0,155930.0,The official music video for Gorillaz - Clint ...,True,True,6.172597e+08

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20718 entries, 0 to 20717
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        20718 non-null  int64
 1   Artist            20718 non-null  object
 2   Url_spotify       20718 non-null  object
 3   Track             20718 non-null  object
 4   Album             20718 non-null  object
 5   Album_type        20718 non-null  object
 6   Uri               20718 non-null  object
 7   Danceability      20716 non-null  float64
 8   Energy            20716 non-null  float64
 9   Key               20716 non-null  float64
 10  Loudness          20716 non-null  float64
 11  Speechiness       20716 non-null  float64
 12  Acousticness      20716 non-null  float64
 13  Instrumentalness  20716 non-null  float64
 14  Liveness          20716 non-null  float64
 15  Valence           20716 non-null  float64
 16  Tempo             20716 non-null  float64
 17  Duration_ms       20716 non-null  float64
 18  Url_youtube       20248 non-null  object
 19  Title             20248 non-null  object
 20  Channel           20248 non-null  object
 21  Views             20248 non-null  float64
 22  Likes             20177 non-null  float64
 23  Comments          20149 non-null  float64
 24  Description       19842 non-null  object
 25  Licensed          20248 non-null  object
 26  official_video    20248 non-null  object
 27  Stream            20142 non-null  float64
dtypes: float64(15), int64(1), object(12)
memory usage: 4.4+ MB

In [7]:
df['Uri']

0        spotify:track:0d28khcov6AiegSCpG5TuT
1        spotify:track:1foMv2HQwfQ2vntFf9HFeG
2        spotify:track:64dLd6rVqDLtkXFYrEUHIU
3        spotify:track:0q6LuUqGLUiCPP1cbdwFs3
4        spotify:track:7yMiX7n9SBvadzox8T5jzT
                         ...
20713    spotify:track:0RtcKQGyI4hr8FgFH1TuYG
20714    spotify:track:3rHvPA8lUnPBkaLyPOc0VV
20715    spotify:track:4jk00YxPtPbhvHJE9N4ddv
20716    spotify:track:5EyErbpsugWliX006eTDex
20717    spotify:track:6lOn0jz1QpjcWeXo1oMm0k
Name: Uri, Length: 20718, dtype: object

In [8]:
len(df['Artist'].unique())

2079

Eliminacion de columnas innecesarias

In [9]:
df=df.drop(['Uri','Url_spotify','Url_youtube','Description'], axis=1)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20718 entries, 0 to 20717
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        20718 non-null  int64
 1   Artist            20718 non-null  object
 2   Track             20718 non-null  object
 3   Album             20718 non-null  object
 4   Album_type        20718 non-null  object
 5   Danceability      20716 non-null  float64
 6   Energy            20716 non-null  float64
 7   Key               20716 non-null  float64
 8   Loudness          20716 non-null  float64
 9   Speechiness       20716 non-null  float64
 10  Acousticness      20716 non-null  float64
 11  Instrumentalness  20716 non-null  float64
 12  Liveness          20716 non-null  float64
 13  Valence           20716 non-null  float64
 14  Tempo             20716 non-null  float64
 15  Duration_ms       20716 non-null  float64
 16  Title             20248 non-null  object
 17  Channel           20248 non-null  object
 18  Views             20248 non-null  float64
 19  Likes             20177 non-null  float64
 20  Comments          20149 non-null  float64
 21  Licensed          20248 non-null  object
 22  official_video    20248 non-null  object
 23  Stream            20142 non-null  float64
dtypes: float64(15), int64(1), object(8)
memory usage: 3.8+ MB

In [11]:
df.rename( columns = { "Unnamed: 0": "Track_Id"}, inplace=True)

In [12]:
df.sample()

,Track_Id,Artist,Track,Album,Album_type,Danceability,Energy,Key,Loudness,Speechiness,...,Tempo,Duration_ms,Title,Channel,Views,Likes,Comments,Licensed,official_video,Stream
12434,12434,Brandi Carlile,Crowded Table,The Highwomen,album,0.559,0.562,11.0,-5.674,0.0325,...,132.062,209907.0,The Highwomen: Crowded Table [OFFICIAL VIDEO],The Highwomen,1049244.0,12926.0,330.0,True,True,27346425.0

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20718 entries, 0 to 20717
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Track_Id          20718 non-null  int64
 1   Artist            20718 non-null  object
 2   Track             20718 non-null  object
 3   Album             20718 non-null  object
 4   Album_type        20718 non-null  object
 5   Danceability      20716 non-null  float64
 6   Energy            20716 non-null  float64
 7   Key               20716 non-null  float64
 8   Loudness          20716 non-null  float64
 9   Speechiness       20716 non-null  float64
 10  Acousticness      20716 non-null  float64
 11  Instrumentalness  20716 non-null  float64
 12  Liveness          20716 non-null  float64
 13  Valence           20716 non-null  float64
 14  Tempo             20716 non-null  float64
 15  Duration_ms       20716 non-null  float64
 16  Title             20248 non-null  object
 17  Channel           20248 non-null  object
 18  Views             20248 non-null  float64
 19  Likes             20177 non-null  float64
 20  Comments          20149 non-null  float64
 21  Licensed          20248 non-null  object
 22  official_video    20248 non-null  object
 23  Stream            20142 non-null  float64
dtypes: float64(15), int64(1), object(8)
memory usage: 3.8+ MB

## Vamos a crear la tabla para artista ID

In [14]:

df_artistas = df[['Artist']].drop_duplicates().reset_index(drop=True)
df_artistas['Artist_ID'] = df_artistas.reset_index().index + 1

In [15]:
df_artistas.head()

                  Artist  Artist_ID
0               Gorillaz          1
1  Red Hot Chili Peppers          2
2                50 Cent          3
3              Metallica          4
4               Coldplay          5

Se va a agregar el artist ID

In [16]:
df = pd.merge(df, df_artistas, on='Artist')

In [17]:
df.sample()

,Track_Id,Artist,Track,Album,Album_type,Danceability,Energy,Key,Loudness,Speechiness,...,Duration_ms,Title,Channel,Views,Likes,Comments,Licensed,official_video,Stream,Artist_ID
8165,8165,The Police,Can't Stand Losing You,Outlandos D'Amour (Remastered 2003),album,0.737,0.789,2.0,-5.299,0.3,...,178760.0,The Police - Can't Stand Losing You,ThePoliceVEVO,22650974.0,119164.0,2988.0,True,True,24343091.0,818

Estos archivos se crean para que sirvan de bases de datos para en informe de Power BI

In [18]:
df_spotify=df[["Track_Id","Album_type","Stream"]]

In [19]:
df.to_excel("Youtube_Spotify3.xlsx", index=False)
df_artistas.to_excel("Artist.xlsx", index=False)
df_spotify.to_excel("Spotify.xlsx", index=False)
df.to_csv("Youtube_Spotify2.csv", index=False)