# Base de datos 10 canciones más escuchadas por artistas en Youtube Y Spotify hasta 2023

El presente trabajo se basa en una base de datos de las 10 canciones más populares de diferentes artistas, en la cual se han medido diferentes parámetros, tales como la danzabilidad, la energía, el volumen, tiempo de reproducción etc. Además, se han registrado los datos de reproducción de cada una de estas canciones en Spotify y YouTube. 
Nombre del Dataset: Youtube_Spotify.csv
Fuente: https://www.kaggle.com/datasets/salvatorerastelli/spotify-and-youtube

In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [36]:
%matplotlib inline

In [37]:
df=pd.read_csv("Spotify_Youtube.csv")

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20718 entries, 0 to 20717
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        20718 non-null  int64
 1   Artist            20718 non-null  object
 2   Url_spotify       20718 non-null  object
 3   Track             20718 non-null  object
 4   Album             20718 non-null  object
 5   Album_type        20718 non-null  object
 6   Uri               20718 non-null  object
 7   Danceability      20716 non-null  float64
 8   Energy            20716 non-null  float64
 9   Key               20716 non-null  float64
 10  Loudness          20716 non-null  float64
 11  Speechiness       20716 non-null  float64
 12  Acousticness      20716 non-null  float64
 13  Instrumentalness  20716 non-null  float64
 14  Liveness          20716 non-null  float64
 15  Valence           20716 non-null  float64
 16  Tempo             20716 non-null  float64
 17  Duration_ms       20716 non-null  float64
 18  Url_youtube       20248 non-null  object
 19  Title             20248 non-null  object
 20  Channel           20248 non-null  object
 21  Views             20248 non-null  float64
 22  Likes             20177 non-null  float64
 23  Comments          20149 non-null  float64
 24  Description       19842 non-null  object
 25  Licensed          20248 non-null  object
 26  official_video    20248 non-null  object
 27  Stream            20142 non-null  float64
dtypes: float64(15), int64(1), object(12)
memory usage: 4.4+ MB

In [39]:
df.head()

,Unnamed: 0,Artist,Url_spotify,Track,Album,Album_type,Uri,Danceability,Energy,Key,...,Url_youtube,Title,Channel,Views,Likes,Comments,Description,Licensed,official_video,Stream
0,0,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Feel Good Inc.,Demon Days,album,spotify:track:0d28khcov6AiegSCpG5TuT,0.818,0.705,6.0,...,https://www.youtube.com/watch?v=HyHNuVaZJ-k,Gorillaz - Feel Good Inc. (Official Video),Gorillaz,693555221.0,6220896.0,169907.0,Official HD Video for Gorillaz' fantastic trac...,True,True,1.040235e+09
1,1,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Rhinestone Eyes,Plastic Beach,album,spotify:track:1foMv2HQwfQ2vntFf9HFeG,0.676,0.703,8.0,...,https://www.youtube.com/watch?v=yYDmaexVHic,Gorillaz - Rhinestone Eyes [Storyboard Film] (...,Gorillaz,72011645.0,1079128.0,31003.0,The official video for Gorillaz - Rhinestone E...,True,True,3.100837e+08
2,2,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,New Gold (feat. Tame Impala and Bootie Brown),New Gold (feat. Tame Impala and Bootie Brown),single,spotify:track:64dLd6rVqDLtkXFYrEUHIU,0.695,0.923,1.0,...,https://www.youtube.com/watch?v=qJa-VFwPpYA,Gorillaz - New Gold ft. Tame Impala & Bootie B...,Gorillaz,8435055.0,282142.0,7399.0,Gorillaz - New Gold ft. Tame Impala & Bootie B...,True,True,6.306347e+07
3,3,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,On Melancholy Hill,Plastic Beach,album,spotify:track:0q6LuUqGLUiCPP1cbdwFs3,0.689,0.739,2.0,...,https://www.youtube.com/watch?v=04mfKJWDSzI,Gorillaz - On Melancholy Hill (Official Video),Gorillaz,211754952.0,1788577.0,55229.0,Follow Gorillaz online:\nhttp://gorillaz.com \...,True,True,4.346636e+08
4,4,Gorillaz,https://open.spotify.com/artist/3AA28KZvwAUcZu...,Clint Eastwood,Gorillaz,album,spotify:track:7yMiX7n9SBvadzox8T5jzT,0.663,0.694,10.0,...,https://www.youtube.com/watch?v=1V_xRb0x9aw,Gorillaz - Clint Eastwood (Official Video),Gorillaz,618480958.0,6197318.0,155930.0,The official music video for Gorillaz - Clint ...,True,True,6.172597e+08

In [40]:
df['Uri']

0        spotify:track:0d28khcov6AiegSCpG5TuT
1        spotify:track:1foMv2HQwfQ2vntFf9HFeG
2        spotify:track:64dLd6rVqDLtkXFYrEUHIU
3        spotify:track:0q6LuUqGLUiCPP1cbdwFs3
4        spotify:track:7yMiX7n9SBvadzox8T5jzT
                         ...
20713    spotify:track:0RtcKQGyI4hr8FgFH1TuYG
20714    spotify:track:3rHvPA8lUnPBkaLyPOc0VV
20715    spotify:track:4jk00YxPtPbhvHJE9N4ddv
20716    spotify:track:5EyErbpsugWliX006eTDex
20717    spotify:track:6lOn0jz1QpjcWeXo1oMm0k
Name: Uri, Length: 20718, dtype: object

Aquí evaluaremos el número de artistas que hay

In [41]:
len(df['Artist'].unique())

2079

Eliminacion de columnas innecesarias

In [42]:
df=df.drop(['Uri','Url_spotify','Url_youtube','Description'], axis=1)

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20718 entries, 0 to 20717
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        20718 non-null  int64
 1   Artist            20718 non-null  object
 2   Track             20718 non-null  object
 3   Album             20718 non-null  object
 4   Album_type        20718 non-null  object
 5   Danceability      20716 non-null  float64
 6   Energy            20716 non-null  float64
 7   Key               20716 non-null  float64
 8   Loudness          20716 non-null  float64
 9   Speechiness       20716 non-null  float64
 10  Acousticness      20716 non-null  float64
 11  Instrumentalness  20716 non-null  float64
 12  Liveness          20716 non-null  float64
 13  Valence           20716 non-null  float64
 14  Tempo             20716 non-null  float64
 15  Duration_ms       20716 non-null  float64
 16  Title             20248 non-null  object
 17  Channel           20248 non-null  object
 18  Views             20248 non-null  float64
 19  Likes             20177 non-null  float64
 20  Comments          20149 non-null  float64
 21  Licensed          20248 non-null  object
 22  official_video    20248 non-null  object
 23  Stream            20142 non-null  float64
dtypes: float64(15), int64(1), object(8)
memory usage: 3.8+ MB

In [44]:
df.sample()

,Unnamed: 0,Artist,Track,Album,Album_type,Danceability,Energy,Key,Loudness,Speechiness,...,Tempo,Duration_ms,Title,Channel,Views,Likes,Comments,Licensed,official_video,Stream
4873,4873,The Chicks,Wide Open Spaces,Wide Open Spaces,album,0.563,0.544,4.0,-6.102,0.0306,...,179.351,223832.0,The Chicks - Wide Open Spaces (Official Video),dixiechicksVEVO,25187045.0,131215.0,3929.0,True,True,123015477.0

En el Notebook anexo 02_Fechas de lanzamiento de canciones.ipynb se usa la api de spotify  para asignar las fechas a cada una de las canciones. De los archivos resultantes se crea una nueva base de datos:

In [48]:
df1=pd.read_csv("df1000.csv")
df2=pd.read_csv("df1000_3000.csv")
df3=pd.read_csv("df3000_7000.csv")
df4=pd.read_csv("df7000_11000.csv")
df5=pd.read_csv("df11000_15000.csv")
df6=pd.read_csv("df15000_19000.csv")
df7=pd.read_csv("df19000_20718.csv")

In [51]:
df_fecha = pd.concat([df1, df2, df3,df4,df5,df6,df7], ignore_index=True)

In [52]:
df_fecha.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20718 entries, 0 to 20717
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        20718 non-null  int64
 1   Track_Id          20718 non-null  int64
 2   Artist            20718 non-null  object
 3   Track             20718 non-null  object
 4   Album             20718 non-null  object
 5   Album_type        20718 non-null  object
 6   Danceability      20716 non-null  float64
 7   Energy            20716 non-null  float64
 8   Key               20716 non-null  float64
 9   Loudness          20716 non-null  float64
 10  Speechiness       20716 non-null  float64
 11  Acousticness      20716 non-null  float64
 12  Instrumentalness  20716 non-null  float64
 13  Liveness          20716 non-null  float64
 14  Valence           20716 non-null  float64
 15  Tempo             20716 non-null  float64
 16  Duration_ms       20716 non-null  float64
 17  Title             20248 non-null  object
 18  Channel           20248 non-null  object
 19  Views             20248 non-null  float64
 20  Likes             20177 non-null  float64
 21  Comments          20149 non-null  float64
 22  Licensed          20248 non-null  object
 23  official_video    20248 non-null  object
 24  Stream            20142 non-null  float64
 25  Date              16524 non-null  object
dtypes: float64(15), int64(2), object(9)
memory usage: 4.1+ MB

Como se puede ver hay una nueva columna de fecha Date, sin embargo todavía faltan algunas canciones por encontrar su fecha

In [53]:
df_fecha.sample()

,Unnamed: 0,Track_Id,Artist,Track,Album,Album_type,Danceability,Energy,Key,Loudness,...,Duration_ms,Title,Channel,Views,Likes,Comments,Licensed,official_video,Stream,Date
4415,1415,4415,Sujatha,Oru Kaathilola,Vettom (Original Motion Picture Soundtrack),album,0.694,0.758,2.0,-8.881,...,349937.0,Oru Kathilola Njan Video Song | Vettam | Dilee...,Sree Movies Music,1248938.0,8310.0,322.0,True,True,4935139.0,NaN

En el Notebook anexo 03_Fecha album.ipynb se terminande llenar las fechas faltantes. Primero se usa la api de spotify con las fechas de lanzamiento de los albumnes faltantes y las restantes usando la API de youtube. De los archivos resultantes se crea una nueva base de datos:

In [59]:
df_final=pd.read_csv("df_final.csv")

In [60]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20718 entries, 0 to 20717
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        20718 non-null  int64
 1   Acousticness      20716 non-null  float64
 2   Album             20718 non-null  object
 3   Album_type        20718 non-null  object
 4   Artist            20718 non-null  object
 5   Channel           20248 non-null  object
 6   Comments          20149 non-null  float64
 7   Danceability      20716 non-null  float64
 8   Date              20718 non-null  object
 9   Duration_ms       20716 non-null  float64
 10  Energy            20716 non-null  float64
 11  Instrumentalness  20716 non-null  float64
 12  Key               20716 non-null  float64
 13  Licensed          20248 non-null  object
 14  Likes             20177 non-null  float64
 15  Liveness          20716 non-null  float64
 16  Loudness          20716 non-null  float64
 17  Speechiness       20716 non-null  float64
 18  Stream            20142 non-null  float64
 19  Tempo             20716 non-null  float64
 20  Title             20248 non-null  object
 21  Track             20718 non-null  object
 22  Track_Id          20718 non-null  int64
 23  Valence           20716 non-null  float64
 24  Views             20248 non-null  float64
 25  official_video    20248 non-null  object
 26  Artist_ID         20718 non-null  int64
dtypes: float64(15), int64(3), object(9)
memory usage: 4.3+ MB

In [61]:
df_final.rename( columns = { "Unnamed: 0": "Track_Id"}, inplace=True)

Vamos a cambiar el tipo de la columna Date de object a Date

In [62]:
df_final['Date'] = pd.to_datetime(df_final['Date'])

In [63]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20718 entries, 0 to 20717
Data columns (total 27 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Track_Id          20718 non-null  int64
 1   Acousticness      20716 non-null  float64
 2   Album             20718 non-null  object
 3   Album_type        20718 non-null  object
 4   Artist            20718 non-null  object
 5   Channel           20248 non-null  object
 6   Comments          20149 non-null  float64
 7   Danceability      20716 non-null  float64
 8   Date              20718 non-null  datetime64[ns]
 9   Duration_ms       20716 non-null  float64
 10  Energy            20716 non-null  float64
 11  Instrumentalness  20716 non-null  float64
 12  Key               20716 non-null  float64
 13  Licensed          20248 non-null  object
 14  Likes             20177 non-null  float64
 15  Liveness          20716 non-null  float64
 16  Loudness          20716 non-null  float64
 17  Speechiness       20716 non-null  float64
 18  Stream            20142 non-null  float64
 19  Tempo             20716 non-null  float64
 20  Title             20248 non-null  object
 21  Track             20718 non-null  object
 22  Track_Id          20718 non-null  int64
 23  Valence           20716 non-null  float64
 24  Views             20248 non-null  float64
 25  official_video    20248 non-null  object
 26  Artist_ID         20718 non-null  int64
dtypes: datetime64[ns](1), float64(15), int64(3), object(8)
memory usage: 4.3+ MB

In [64]:
df_final.columns

Index(['Track_Id', 'Acousticness', 'Album', 'Album_type', 'Artist', 'Channel',
       'Comments', 'Danceability', 'Date', 'Duration_ms', 'Energy',
       'Instrumentalness', 'Key', 'Licensed', 'Likes', 'Liveness', 'Loudness',
       'Speechiness', 'Stream', 'Tempo', 'Title', 'Track', 'Track_Id',
       'Valence', 'Views', 'official_video', 'Artist_ID'],
      dtype='object')

Usando la API de spotify vamos a encontrar los principales generos de cada artista

In [80]:
df_final['Artist'].unique()

array(['Gorillaz', 'Red Hot Chili Peppers', '50 Cent', ..., 'LE SSERAFIM',
       'ThxSoMch', 'SICK LEGEND'], shape=(2079,), dtype=object)

In [83]:
df_Artistas = pd.DataFrame(df_final['Artist'].unique(), columns=['Artist'])

In [84]:
df_Artistas['Artist']

0                    Gorillaz
1       Red Hot Chili Peppers
2                     50 Cent
3                   Metallica
4                    Coldplay
                ...
2074           Grupo Frontera
2075                Jung Kook
2076              LE SSERAFIM
2077                 ThxSoMch
2078              SICK LEGEND
Name: Artist, Length: 2079, dtype: object

In [89]:
def obtener_genero_musical(nombre_artista):
    """
    Obtiene el género más representativo de un artista utilizando la API de Spotify.

    :param nombre_artista: Nombre del artista (str)
    :return: Género más representativo del artista o mensaje de error (str)
    """
    # Credenciales de cliente para autenticación en Spotify
    client_id = 'ca75f13f0dd54ce3992b9cfd16234307'
    client_secret = '396fae6eae2a47fd8e3beeaad315c80b'
    
    # Manejo de autenticación con Spotipy
    client_credentials_manager = SpotifyClientCredentials(client_id=client_id, client_secret=client_secret)
    sp = spotipy.Spotify(client_credentials_manager=client_credentials_manager)

    try:
        # Buscar al artista por nombre
        result = sp.search(q='artist:' + nombre_artista, type='artist')

        # Verificar si se encontraron resultados
        if not result['artists']['items']:
            return "Artista no encontrado"

        # Obtener el ID del primer resultado del artista
        artist_id = result['artists']['items'][0]['id']

        # Obtener detalles del artista
        artist_info = sp.artist(artist_id)

        # Extraer los géneros asociados
        genres = artist_info['genres']
        if genres:
            return ', '.join(genres)  # Combinar géneros en una sola cadena
        else:
            return "Género no disponible"

    except Exception as e:
        # Manejar errores inesperados
        return f"Error al obtener género: {e}"

In [90]:
df_Artistas['Genero'] = df_Artistas['Artist'].apply(lambda x: obtener_genero_musical(x.lower()))

In [127]:
df_Artistas

                     Artist                                             Genero
0                  Gorillaz             alternative hip hop, modern rock, rock
1     Red Hot Chili Peppers  alternative rock, funk metal, funk rock, perma...
2                   50 Cent  east coast hip hop, gangster rap, hip hop, pop...
3                 Metallica  hard rock, metal, old school thrash, rock, thr...
4                  Coldplay                                permanent wave, pop
...                     ...                                                ...
2074         Grupo Frontera                                musica chihuahuense
2075              Jung Kook                                              k-pop
2076            LE SSERAFIM                                   k-pop girl group
2077               ThxSoMch                                        bedroom r&b
2078            SICK LEGEND                                      gym hardstyle

[2079 rows x 2 columns]

In [129]:
df_Artistas[df_Artistas['Genero']=="Género no disponible"]

Empty DataFrame
Columns: [Artist, Genero]
Index: []

In [130]:
# Filtrar filas donde 'Genero' contiene la palabra "error" (sin importar mayúsculas/minúsculas)
errores = df_Artistas[df_Artistas['Genero'].str.contains("error", case=False, na=False)]

# Mostrar las filas que contienen la palabra "error"
print(errores)

Empty DataFrame
Columns: [Artist, Genero]
Index: []

In [131]:
df_Artistas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2079 entries, 0 to 2078
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Artist  2079 non-null   object
 1   Genero  2079 non-null   object
dtypes: object(2)
memory usage: 32.6+ KB

Como estas consultas a ls API de spotify son demoradas hay que guardar este archivo externamente.

In [133]:
df_Artistas.to_csv('Generos.csv', index=False)